:root {
  --color-bg-primary: #fff;
  --color-primary: #60D4EA;
  --color-secondary: #9AE5F3;
  --color-background: #020202;
  --color-text: #9AE5F3;
  --color-header-footer: #19191A;
  --color-border: #9AE5F3;
  --color-red: #BC0000;
  --color-red-secondary: #f9820e;
  --color-blue: #02dfe6;
  --color-golden: #f9d82b;
  /* Color rojo agregado */
}

@font-face {
  font-family: 'Phenomena-Bold';
  src: url('./fonts/phenomena/Phenomena-Bold.otf') format('opentype');
}

.logo-text {
  font-family: Phenomena-Bold;
  font-size: 30px;
  color: #DFE3E3 !important;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.red-color-secondary {
  color: var(--color-red-secondary);
}

.red-color-primary {
  color: var(--color-red);
}

.golden-color{
  color: var(--color-golden);
}

.blue-color {
  color: var(--color-blue);

}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #252526;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid var(--color-red);
  /* Bordes inferiores en rojo */
}

#menuToggle {
  display: none;
}

.logo-main {
  width: 100px;
  height: 100px;
}

.logo {
  height: 68px;
  width: 60px;
}

.logo-main,
.logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #60D4EA;
  font-size: 1.5rem;
  cursor: pointer;
}

nav {
  position: relative;
  /* Para el posicionamiento del menú */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #60D4EA;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--color-red);
  /* Cambiar color al pasar el mouse */
}

.hero {
  background-color: var(--color-background);
  min-height: 722px;
}

.hero main h1 {
  font-size: 45px;
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.hero main h1:hover {
  color: var(--color-red);
  /* Cambiar a rojo al pasar el mouse */
}

.hero main p {
  font-size: 15px;
  color: var(--color-text);
  transition: color 0.3s ease;
}

.hero main p:hover {
  color: var(--color-primary);
}

#contact {
  margin-top: 29px;
}

#services {
  min-height: 600px;
  padding: 40px 0;
}

#services h2 {
  margin-bottom: 25px;
}

.btn-service{
  font-size: 12px;
  display: inline-block;
  color: #461111;
  background-color: #60D4EA;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
}



.section h1,
.section h2 {
  color: #60D4EA;
}

#sec-packages,
#sec-services {
  gap: 1.5rem;
}

.servicio {
  background-color: #333;
  border-radius: 5px;
  padding: 1.5rem;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 150px;
}

.servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.servicio header h3 {
  color: #60D4EA;
  font-size: 20px !important;
  line-height: 0;
}
.servicio header span{
  font-size: 12px
}

.servicio main p{
  font-size: 12px;
  color: #ddd;
}

#testimonials,
#packages{
min-height: 500px;
}

.paquete {
  background-color: #3b3b3b;
  border-radius: 5px;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.paquete:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.paquete h3 {
  color: #60D4EA;
}

.paquete p {
  color: #ffffff;
}

.precio {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #9AE5F3;
  margin: 0.5rem 0;
}

.btn {
  background-color: #60D4EA;
  color: #1e1e1e;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  /*! background-color: var(--color-red); */
  /* Cambiar a color secundario en hover */
  color: #fff;
}

blockquote {
  border-left: 5px solid #60D4EA;
  padding-left: 1rem;
  font-style: italic;
  margin: 1rem 0;
}

#footer {
  text-align: center;
  padding: 1rem;
  background-color: #252526;
  border-top: 3px solid var(--color-red);
  /* Bordes superiores en rojo */
}

/* Media Queries */
@media (max-width: 768px) {
  #menuToggle {
    display: initial;
  }

  nav {
    position: absolute;
    /* Para el posicionamiento del menú */
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  nav a {
    color: #60D4EA;
    text-decoration: none;
    transition: color 0.3s;
  }

  nav a:hover {
    color: var(--color-red);
    /* Cambiar a rojo al pasar el mouse */
  }

  /* Menú */
  nav ul {
    position: fixed;
    right: -337px;
    /* Oculta el menú inicialmente */
    top: 0;
    /* Ajusta la posición del menú */
    width: 250px;
    /* Ancho del menú */
    height: 100%;
    /* Altura del menú */
    background-color: var(--color-header-footer);
    transition: right 0.3s ease;
    /* Animación suave para el menú */
    padding: 2rem;
    /* Espaciado interno */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    /* Sombra del menú */
  }

  nav ul.show {
    right: 0;
    /* Muestra el menú al agregar la clase 'show' */
  }

  nav>ul {
    display: flex;
    flex-direction: column;
  }

  nav>ul>li {
    width: 100%;
    padding: 10px 0;
  }

  .menu-toggle {
    display: block;
    /* Asegúrate de que el botón siempre sea visible */
  }
}